<a href="https://colab.research.google.com/github/nakshi24/PythonProb/blob/master/Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#The program must accept a string S as the input. The program print the longest word from the string S as the output.
# If two or more longest words are of same length then consider the first one.
  def longestWord(str):
   list = []
   list = str.split()
   large = 0
   j = 0
   for i in range(0,len(list)):
      if len(list[i]) > large:
        large = len(list[i])
        j = i
   return list[j]
  longestWord("Starry eyed")

'Starry'

In [0]:
# Your program need to accept a string (alphanumeric) includes white spaces also. The program must print the output in the following way.
def wordUpperCase(s):
  spaceCnt = 0
  for x in range(len(s)):
    if ord(s[x]) == 32:
      spaceCnt += 1
    if spaceCnt == 1:
      if ord(s[x])>=65 and ord(s[x])<=90:
        print(s[x], end = "")
      elif ord(s[x])>=97 and ord(s[x])<=122:
         print(chr(ord(s[x])-32),end="")
    if spaceCnt == 2:
        break
  return
wordUpperCase('Python Made Easy')

MADE

In [0]:
#This series is a mixture of 2 series 
#- all the odd terms in this series form a geometric series and all the even terms form another geometric series.
# 2 1 4 2 6 3 8 4 10 5 12 6 14 7 16 8 18 9 20 10 22 11 24 12 26 ..........
def series1(n):
  em = 2
  j = 1
  k = 1
  li = []
  for i in range(1,n+1):
    if i%2 != 0:
      print(em*j)
      j = j + 1
    else:
      print(k)
      k = k+1
  return 
series1(5)

2
1
4
2
6

In [0]:
#The order of series must be 1, 1, 2, 3, 4, 9, 8, 27, 16, 81, 32, 243, 64, 729, 128, 2187, 256, 6561, 512, 19683, ... 
#This series is a mixture of 2 series - all the odd terms in this series form a geometric series and all the even terms form another geometric series.

def series2(n):
  k = 0
  j = 0
  e = 2
  o = 3
  for i in range(1,n+1):
    if i%2==0:
      print(e**j)
      j = j + 1
    else:
      print(o**k)
      k = k + 1
  return
series2(5)

1
1
3
2
9

In [0]:
#num to list, printing the same no. of stars as each digit
def NumtoList(num):
  l=[]
  i = 0
  while num!= 0:
    r = num % 10
    l.append(r)
    num = num//10
    i = i+1
  l.reverse()
  return l
   
n = int(input("Enter number"))  
list = NumtoList(n)
for x in range(0,len(list)):
  for i in range(0,list[x]):
    print("*",end="")
  print(" ")

Enter number345
***
****
*****

In [0]:
#1,2,4,8,16
def evenseries(n):
  for i in range(0,n):
    print(2**i)
  return
evenseries(5)

1
2
4
8
16

In [0]:
# 1! + 2! + 3! +....+n!
def factsum(n):
  sum = 0
  for i in range(1,n+1):
    fact(i)
    sum = sum + fact(i)
  print(sum)  
  return
def fact(n):
  fact =1
  for i in range(2,n+1):
    fact=fact*i
  return fact
factsum(3)

9

In [0]:
#3. The program must accept two string values S1 and S2. The program must print the pattern as shown in the 
#Example Input/Output sections.
def combi(s1,s2):
  l1 = len(s1)
  l2 = len(s2)
  if l2>l1:
    l = l2
    for x in range(l1,l+1):
      s1.append("*")
  else:
    l = l1
    for y in range(l2,l+1):
      s2.append("*")
  for i in range(0,l):
    
    print(s1[i],s2[i])
    print(" ")
  return

s1 = input("Enter string 1")
l1=[]
for i in range(0,len(s1)):
  l1.append(s1[i])
s2 = input("Enter string 2")
l2=[]
for i in range(0,len(s2)):
  l2.append(s2[i])

combi(l1,l2)

Enter string 1weird
Enter string 2people
w p

e e

i o

r p

d l

* e

In [0]:
# 1, 3, 9, 27, 81, ...
def threeseries(n):
  for i in range(0,n):
    print(3**i)
  return
threeseries(5)

1
3
9
27
81

In [0]:
def thirteen(n):
  j = 1
  k = 2
  print(k,end=" ")
  for i in range(1,n+1):
    k = k+13 * j
    print(k, end = " ")
    
    j = j + 1
  return
thirteen(7)

2 15 41 80 132 197 275 366

In [0]:
#1 3 8 15 27 50 92 169 311

In [0]:
#1,9,17,33,49,73,97
def eight(n):
  j = 1
  k = 1
  print(k,end=" ")
  for i in range(1,n+1):
    k = k+8*j
    print(k, end = " ")
    if i%2 == 0:
     j = j + 1
  return
eight(7)

1 9 17 33 49 73 97 129

In [0]:
#Your Program need to accept two strings and generate the output in merging of both strings.

In [0]:
#The program must accept an integer N as the input. The program must print the fibonacci series in the reverse order as the output.
def fib(n):
  
  li = []
  f0 = 0
  f1 = 1
  li.append(0)
  li.append(1)
  for i in range(0,n):
    f2 = f1 + f0
    li.append(f2)
    f0 = f1
    f1 = f2
  return li
l=fib(5)
l.reverse()
print(l)

[8, 5, 3, 2, 1, 1, 0]

In [0]:
#Your Program has to read one string as well as one character and you need to remove the all the occurance of the character.